{% from 'partials/icons.html' import icon, wordmark %}
<!doctype html>
<html lang="{{ html_lang }}">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="color-scheme" content="light">
  <meta name="description" content="{{ t('meta.description') }}">
  <title>{% block title %}Tandau{% endblock %}</title>
  <link rel="icon" href="/static/img/favicon.svg" type="image/svg+xml">
  <link rel="preload" href="/static/fonts/Geist-Variable.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="stylesheet" href="{{ static_url('css/app.css') }}">
  <link rel="stylesheet" href="{{ static_url('css/components.css') }}">
  <link rel="stylesheet" href="{{ static_url('css/auth.css') }}">
</head>
<body>
  <a class="tl-skip" href="#main">{{ t('common.skip_to_content') }}</a>
  {% include 'partials/header.html' %}
  <main id="main" tabindex="-1">{% include 'partials/flash.html' %}{% block content %}{% endblock %}</main>
  {% include 'partials/footer.html' %}
  <script src="{{ static_url('js/app.js') }}" defer></script>
  {% block scripts %}{% endblock %}
</body>
</html>
